@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-wrapper {
    background-color: #1f2937;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.menu-bar {
    display: flex;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.menu-items {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.menu-items > li > a {
    color: #F9FAF8;
        font-size: 18px;
}