@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

h3 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

h4 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}

/* MENU BAR */

.nav-wrapper, .hero-wrapper {
    background-color: #1f2937;
    padding-block: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.menu-bar {
    display: flex;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.menu-items {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.menu-items > li > a {
    color: #F9FAF8;
    font-size: 18px;
}

/* HERO SECTION */

.hero-wrapper {
    padding-block: 50px;
}

.hero {
    display: flex;
    align-items: center;
}

.hero-left {
    padding-right: 50px;
}

.hero-left > p {
    color: #F9FAF8;
    font-size: 18px;
}

.hero-left > button {
    margin-top: 20px;
}

/* INFO SECTION */

.info-section {
    padding-block: 50px;
}

.info > h3 {
    text-align: center;
    padding-bottom: 40px;
}

.info-block {
    display: flex;
    justify-content: space-around;
}

.info-element {
    width: 200px;
    text-align: center;
}

.info-element > img {
    border: #3882f6 solid 4px;
    border-radius: 10px;
}

.info-element > p {
    color: #1f2937;
    font-size: 17px;
    width: 160px;
    margin: auto;
}

/* QUOTE SECTION */

.quote-wrapper {
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
    padding-block: 80px;
}

.text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 20px;
}

.author {
    font-size: 24px;
    color: #1f2937;
    font-weight: 900;
    margin-left: auto;
}

/* CALL TO ACTION SECTION */

.action {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882f6;
    border-radius: 10px;
    margin-block: 80px;
    padding-block: 40px;
}

.action-left > p {
    color: #F9FAF8;
    font-size: 18px;
}

.action-button {
    border: #F9FAF8 2px solid;
}