@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
}

/* MENU BAR */

.nav-wrapper, .hero-wrapper {
    background-color: #1f2937;
    padding-block: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.menu-bar {
    display: flex;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.menu-items {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.menu-items > li > a {
    color: #F9FAF8;
    font-size: 18px;
}

/* HERO SECTION */
.hero-wrapper {
    padding-block: 50px;
}

.hero {
    display: flex;
    align-items: center;
}

.hero-left {
    padding-right: 50px;
}

.hero-left > p {
    color: #F9FAF8;
    font-size: 18px;
}

.hero-left > button {
    margin-top: 20px;
}